.blackfuture1 {
    font-family: 'Black Future';
    font-size: 200px;
    text-align: center;
    color: #0ecced;
    position: relative;
    text-shadow: 0 0 5px #00dfff, 0 0 5px #00dfff, 0 0 7px #00dfff, 0 0 5px #00dfff, 0 0 10px #00dfff;
}