.blackfuture3 {
    font-family: 'Black Future';
    color: hsl(189, 89%, 49%);
    position: relative;
    text-shadow: 0 0 2px #00dfff, 0 0 2px var(--azure), 0 0 7px #00dfff, 0 0 5px #00dfff, 0 0 10px #00dfff;
}