header{
    position: fixed;
    z-index: 99;
    background-color: var(--azul-escuro); 
    background-color: rgba(0, 0, 0, 0.3); 
    width: 80%;
    height: 6vh;
    border-radius: 20px;
    margin-top: 20px;
}