body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#home {
    background-image: url(assets/images/background.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: row;
}

@font-face {
    font-family: "Black Future";
    src: url("assets/Font/Black Future.otf") format("opentype");
}

:root {
    --azul-claro: 14, 204, 237;
    /* #0ecced */
    --azul-preto: 3, 8, 32;
    /* #030820 */
    --azure: 2, 94, 196;
    /* #025EC4 */
    --azul-medio: 4, 55, 128;
    /* #043780 */
    --azul-escuro: 2, 7, 100;
    /* #020764 */
}

@media (max-width:1366px){
    .homeImage{
        width: 75%;
    }
    .HomeImageContainer{
        top: 25%;
    }
}

#page2Title{
    font-family: 'Black Future', sans-serif;
    font-size: 200px;
    color: white;
    text-align: center;
}
